<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="container">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

 <button class="btn btn-info" (click)="goHome()"> Home </button>
  <button class="btn btn-info" (click)="goMine()"> Mine </button>
   <button class="btn btn-info" (click)="goBuy()"> Buy </button>
  <button class="btn btn-info" (click)="goSell()"> Sell </button> 
   <button class="btn btn-info" (click)="goBrowse()"> Browse Ledger </button> 
  
  <router-outlet></router-outlet>
</div>




